/*
###########################################################################
## FILE      : style.css
## SUBJECT   : PortfolioSite main CSS stylesheet
## PROGRAMMER: (C) Copyright 2023 by Nicholas J. Steventon
##
## Please send comments or bug reports to
##
##      Nick Steventon
##      CIS Student, Man of Interesting Tendencies
##      Vermont Technical College
##      Randolph, VT
##      njs06110@vtc.edu
###########################################################################
*/


/*
------------------------------------------------------------------------
Overwriting Things
------------------------------------------------------------------------
*/

/*
------------------------------------------------------------------------
Overall Things
------------------------------------------------------------------------
*/

/*  
Defining Variables
*/

@media (prefers-color-scheme: dark) {
  :root {
    --sectionborder: 0.1em solid #bbb;
    --frontcolor: white;
    --backcolor: black;
    --backcolor2: #222;
  }
}

:root.darkmode {
  --sectionborder: 0.1em solid #bbb;
  --frontcolor: white;
  --backcolor: black;
  --backcolor2: #222;
}

@media (prefers-color-scheme: light) {
  :root {
    --sectionborder: 0.1em solid #222;
    --frontcolor: black;
    --backcolor: #ddd;
    --backcolor2: #bbb;
  }
}

:root {
  --sectionborder: 0.1em solid #222;
  --frontcolor: black;
  --backcolor: #ddd;
  --backcolor2: #bbb;
}

a {
  color: var(--frontcolor);
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(files/Atkinson-Hyperlegible-Regular-102.ttf);
}

body {
  background-color: var(--backcolor);
  color: var(--frontcolor);
  font-size: 1.25em;
  font-family: "Atkinson Hyperlegible", "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: auto;
  gap: 1%;
}

.centerText {
  text-align: center;
}

#leftBar {
  top: 0;
  left: 0;
  grid-area: 1 / 1 / span 1 / span 1;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2%;
  grid-area: 1 / 2 / span 1 / span 1;
  margin-left: 8%;
  margin-right: 15%;
  border-radius: 30px;
  animation-name: rise;
  animation-duration: 0.9s;
  animation-play-state: running;
  animation-iteration-count: 1;
  margin-top: 5%;
}

.navigationBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: sticky;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 2%;
  gap: 2%;
}

.navIcon {
  color: var(--frontcolor);
  width: 60%;
  height: auto;
  margin-left: 0%;
  margin-top: 1.1em;
}

.navItemText {
  color: var(--frontcolor);
  text-decoration: none;
}

section {
  border: var(--sectionborder);
  border-radius: 0.8em;
  padding: 2%;
}

.sectionTitle {
  text-align: center;
  padding: 0 25% 0 25%;
  font-size: 2.2rem;
  margin-bottom: 0;
}

.pdfEmbed {
  display: inline-block;
  min-width: 90%;
  min-height: 800px;
  margin: 5%;
}

#projectsList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.projectsListSection {
  display: flex;
  flex-direction: column;
  border: var(--sectionborder);
  border-radius: 1em;
  padding: 2%;
  width: 40%;
}

.linksIcon {
  color: var(--frontcolor);
}

.linkdiv {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 7%;
}

#literacyProjects {
  gap: 5%;
}

.paperLinkA {
  text-decoration: none;
}

.paperLink {
  background-color: var(--backcolor2);
  padding: 0.5em;
}


.descriptionOfMe {
  text-align: center;
}

/*
------------------------------------------------------------------------
Image Viewer Thing
------------------------------------------------------------------------
*/

/* Position the image container (needed to position the left and right arrows) */
.photoFullSizeContainer {
  position: relative;
}

/* Hide the images by default */
.photoFullSize {
  display: none;
}

.photoFullSize img {
  display: block;
  height: 30em;
  margin-left: auto;
  margin-right: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: var(--frontcolor);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--frontcolor);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: var(--backcolor2);
  padding: 2px 16px;
  color: var(--frontcolor);
}

.photoPreviews:after {
  content: "";
  display: table;
  clear: both;
}

.photoPreviews {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

/* Six columns side by side */
.photoPreviewImage {
  width: 16.66%;
}

.photoPreviewImage img {
  width: 100%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
